* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    transition: all 0.5s ease;
    padding: 300px 200px;
}

.main {
    background-image: url('/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.main , section {
    font-weight: bold;
    min-height: 1000px;
}

h2 {
    color: aliceblue;
}

.ss {
    font-size: 90px;
}

.nav-link:hover {
    color: #0547fc;
}

.web {
    color: aquamarine;
    font-size: 50px;
    margin-bottom: 20px;
}
.btn {
    font-size: 20px;
    background-color: blue;
    color: aliceblue;
}

.icons {
    margin-top: 30px;
    
}
i {
    margin: 4px;
    font-size: 30px;
}

.L1 {
    font-weight: bold;
    margin-top: 90px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    color: #3a6cf4;
}


.L1:before{
  content: '';
  position: absolute;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 4px;
  background: #3a6cf4;
  transform: translateX(-50%);
}

.L1:after {
  content: '';
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #3a6cf4;
  transform: translateX(-50%);
}

.my {
    font-weight: bold;
    margin-top: 90px;
    text-align: center;
    position: relative;
    margin-bottom: 70px;
    color: #3a6cf4;
}

.my:before {
    content: '';
  position: absolute;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 4px;
  background: #3a6cf4;
  transform: translateX(-50%);
}

.my:after {
    content: '';
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #3a6cf4;
  transform: translateX(-50%);
}

.card {
    margin: 0 auto;
    
}

.card-title {
    font-size: 35px;
    font-weight: bold;
}

.bt {
    background-color: #3a6cf4a8;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.bt:hover , .my-btn:hover {
    background-color: #0547fc;
    transition: all 0.5s ease;
}

.MySkills {
    padding: 30px;
    background-color: black;
}

.box-my {
    max-width: 1000px;
    margin: 0 auto;
}

.and {
    font-size: 30px;
    font-weight: bold;
    
}

.lorm {
    max-width: 400px;
    color: white;
    font-size: 19px;
}

.bot {
    background-color: #0547fc;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 6px 10px;
    opacity: 0.8;
    transition: all 0.5s ease;
}

.bot:hover {
    transform: scale(1.5);
    padding: 6px 2px;
    transition: all 0.5s ease;
}



.box-my {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}


.line {
    color: white;
    justify-content: space-between;
}

.line{
  position: relative;
  width: 100%;
  height: 20px;
  background: #ccc;
  border-radius: 3px;
}

 .line:before{
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
}

span {
    font-size: 30px;
}

.info span{
  font-weight:900;
}


.info {
    color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 14px;
}


 .html:before{
  width: 95%;
  background: #e45126;
}

.css:before{
  width: 90%;
  background: #0c73b8;
}

 .javascript:before{
  width: 80%;
  background: #e3a324;
}

 .jquery:before{
  width: 80%;
  background: #30dd6d;
}

 .php:before{
  width: 75%;
  background: #6d7eb8;
}

.ll {
    margin: 0 auto;
    max-width: 800px;
}

.box-Services {
    margin: 0 auto;
    
}

.img {
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 60px;
    flex-wrap: wrap;
}

.img1 , .img2 , .img3 {
    margin: 10px ;
}

.img1 {
    padding: 50px ;
    border-radius: 6px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.img2 {
    padding: 50px ;
    border-radius: 6px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.img3 {
    padding: 50px ;
    border-radius: 6px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.we {
    font-size: 20px;
}

.fas {
    margin-bottom: 30px;
    color: #0547fcce;
    font-size: 100px;
    transition: all 0.5s ease;
}

.fas:hover {
    transform: scale(1.3);
    transition: all 0.5s ease;
}

.L {
    max-width: 300px;
    font-size: 13px;
    text-align: center;
}

.image {
    background-color: black;
}

.img-z {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    
}

.img10 {
    margin: 20px;
}

.m1 {
    width: 400px;
    height: 300px;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.m1:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.btn1 {
    background-color: #0547fc;
    color: white;
    border: none;
    padding: 13px;
    border-radius: 3px;
}

.botn {
    justify-content: center;
    text-align: center;
    margin: 40px;
}

.Contact-Me {
    max-width: 1200px;
    margin: 0 auto;
}

.box-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.stor1 {
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.24);
    text-align: center;
    justify-content: center;
    border-radius: 13px;
    margin: 20px;
    padding: 40px;
    margin-bottom: 90px;
}

.n {
    font-size: 20px;
    font-weight: bold;
}

.fa-map-marker-alt {
    font-size: 70px;
}

.fa-phone {
    font-size: 70px;
}

.fa-envelope {
    font-size: 70px;
}

.fa-globe {
    font-size: 70px;
}

.usar {
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}

.box-usar {
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    display: inline-block;
    padding: 20px;
    border-radius: 30px;
}

input , textarea , .input{
    border-radius: 6px;
    margin: 10px;
    width: 400px;
    padding: 7px;
}

.send {
    font-weight: bold;
    margin-bottom: 30px;
}

.input {
    background-color: #0547fc;
    color: white;
    border: none;

}


.jacob {
    background-color: black;
    color: white;
    height: 15vh;
    
}

.box-jacob {
    margin: 200px;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
}

.ja {
    font-size: 30px;
}

